.footer {
    height: 90px;
    margin-top: 515px;
    background-color: green;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.anchorFooter {
    font-size: 10px;
    color: black;
}